* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.h-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  text-decoration: none;
  color: royalblue;
  font-size: 40px;
  margin: 30px 0 20px;
}

.navbar {
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.navbar ul {
  list-style: none;
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

/* cart */

.add-btn {
  background-color: orangered;
  text-decoration: none;
}

.cart {
  width: 100%;
  text-align: center;
}

.cart-head {
  width: 100%;
  padding: 20px 0;
  border-top: 2px solid royalblue;
  border-bottom: 2px solid royalblue;
}

.cart-head span {
  display: inline-block;
  width: 20%;
}

.cart-btn {
  position: relative;
}

.cart-num {
  position: absolute;
  top: -10px;
  right: -25px;
  color: #fff;
  background-color: orangered;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50vh;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  margin: 30px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid royalblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item div {
  width: 20%;
}

.cart-product {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item-img {
  width: 100px;
  height: 100px;
}

.remove-btn {
  background-color: royalblue;
  color: #fff;
  border: none;
  padding: 10px 15px;
}

.order-btn {
  background-color: orangered;
}

/* page */

.route-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 40px;
}

/* about page */

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  text-align: center;
  max-width: 600px;
}

.ecommerce-img {
  max-width: 90vw;
}

/* products page */

.items-container {
  margin: 40px 0;
  padding: 0 30px;
  display: flex;
  justify-content: center;
}

.items {
  max-width: 900px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.item img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

@media (max-width: 500px) {
  .items-container {
    padding: 0;
  }

  .item {
    width: 90vw;
  }

  .item img {
    width: 90vw;
  }
}

.item-info {
  max-width: 380px;
  padding: 10px 15px 20px;
}

.rating {
  font-size: 20px;
}

.price {
  margin-bottom: 10px;
  color: orangered;
}

.item-name {
  margin: 0;
  font-weight: 500;
}

.item p {
  margin-top: 10px;
}

.item-detail {
  display: flex;
  gap: 40px;
  margin: 30px 40px;
}

@media (max-width: 900px) {
  .item-detail img {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 650px) {
  .item-detail {
    flex-direction: column;
  }

  .route-page {
    margin: 30px 10px;
  }

  .cart-product {
    flex-direction: column;
  }

  .cart-item-img {
    width: 100%;
  }

  .remove-btn {
    max-width: 100%;
    padding: 10px 5px;
  }
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  color: #fff;
  margin-top: 20px;
  margin-right: 10px;
}

.view-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: rgb(160, 160, 220);
}

.item-detail .view-btn {
  margin-top: 40px;
}

.atc-btn {
  background-color: rgb(60, 60, 225);
}

.btp-btn {
  width: max-content;
  display: block;
  background-color: rgb(234, 181, 83);
  color: #000;
  text-decoration: none;
}

/* detail page */

#in-label {
  font-size: 20px;
}

#item-num {
  color: royalblue;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: 2px solid royalblue;
  margin: 20px 20px 0;
}

#item-num::-webkit-inner-spin-button,
#item-num::-webkit-outer-spin-button {
  margin-right: -10px;
  width: 50px;
  height: 40px;
  padding: 0 10px;
  color: orangered;
  background-color: royalblue;
}

button {
  cursor: pointer;
}

/* card */

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.atc-popup {
  z-index: 10;
  min-height: 180px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  text-align: center;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
